body{
    background-color:#F5F7FA;
    color: #2C3E50;
     font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.gen{
    background-color:#FFFFFF;
    width:50%;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid #A8D8FF;
    box-shadow: 0 8px 20px #2C3E50;

}
#inp{
    width: 60%;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #A8D8FF;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
#inp:focus{
    outline: none;
}
#btn{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #3498DB;
    color: #F5F7FA;
}
span{
    color:#3498DB ;
    text-decoration: underline #2C3E50;
}